.imageListItem {
    width: calc((100% - 36px) / 4);
    cursor: pointer;
    transition: transform 150ms ease-in-out;
}

.imageListItem:hover {
    transform: scale(1.03);
}

.image {
    object-fit: cover;
    height: 100%;
}